Plugin: zaf
 Basic items for Zabbix Agent Framework

Version: 0.1

Url: https://raw.githubusercontent.com/limosek/zaf/master/

Web: https://github.com/limosek/zaf/

Maintainer: Lukas Macura <lukas@macura.cz>

Item: version
 Returns version of zaf installed.

Item-cmd-version: {ZAFFUNC} zaf_version

Item: plugins
 Returns installed plugins

Item-cmd-plugins: {ZAFLOCK} zaf list

Item: discovery.plugins
 Returns installed plugins in form suitable for zabbix discovery

Item-cmd-discovery.plugins: {ZAFFUNC} zaf_discovery_plugins

Item: plugin_version[*]
 Returns maintainer of plugin

Item-cmd-plugin_version[*]: {ZAFFUNC} zaf_plugin_version $1

Binary-Depends: echo zaf

