Plugin: process-info

Maintainer: Lukas Macura <lukas@macura.cz>

Item: cpu[*]
 This item will return cpu usage of given process. In zabbix, it will be prefixed automaticaly by plugin name (processlist.cpu)
Item-cmd-cpu[*]: {PLUGINDIR}/cpu-get.sh

Item: discovery
 Discovery of runing processes
Item-cmd-discovery: {PLUGINDIR}/cpu-get.sh

Binary-Depends: echo ps awk sort uniq sed

Install-bin: cpu-get.sh proc-discovery.sh


